name: progress
replicaCount: 2
AppVersion: prod-stagging-8349e62-106

image:
  repository: 814880204573.dkr.ecr.me-central-1.amazonaws.com/progress
  pullPolicy: Always
  tag: ''

podAnnotations:
  linkerd.io/inject: disabled

podSecurityContext: {}

service:
  type: NodePort
  port: 30024
  targetport: 30024

# resources:
#   requests:
#     cpu: 250m
#     memory: 128m

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage:
namespace: 'prod'

##for liveness and readiness
path: '/health'
port: 30024
