name: api-gateway
replicaCount: 1
AppVersion: prod-stagging-513ab94-58

image:
  repository: 814880204573.dkr.ecr.me-central-1.amazonaws.com/api-gateway
  pullPolicy: Always
  tag: ''

podAnnotations:
  linkerd.io/inject: disabled

podSecurityContext: {}

service:
  type: NodePort
  port: 80
  targetport: 80

# resources:
#   requests:
#     cpu: 250m
#     memory: 128m

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage:
namespace: 'prod'

##for liveness and readiness
path: '/health'
port: 80
