name: activity
replicaCount: 1
AppVersion: "dev-b90013c-247"

image:
  repository: 814880204573.dkr.ecr.us-east-1.amazonaws.com/activity
  pullPolicy: IfNotPresent
  tag: ''

podAnnotations:
  linkerd.io/inject: disabled

podSecurityContext: {}

service:
  type: NodePort
  port: 30020
  targetport: 30020

# resources:
#   requests:
#     cpu: 250m
#     memory: 128m

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage:
namespace: 'dev'

##for liveness and readiness
path: '/health'
port: 30020
