apiVersion: v1
data:
  VAR: 'INPUT'
  ENV: 'stagging'
  AdminHost: 'portal-staging.viwell.app'
  RabbitTimeout: '10000'
  DYNAMIC_LINK_DOMAIN_URI_PREFIX: 'link.viwell.app'
  USER_STORE_DB: 'viwell-user-store'
  SEND_DELETE_COLLECTION_CATEGORY: 'send_delete_collection_category'
  SEND_UPDATE_CLIENT_EVENT: 'send_update_client_event'
  PORT: "3005"
  HOST: "0.0.0.0"
  DB: "Stagging-media"
  GLOBAL_OBJECT_STORAGE_REGION: 'us-east-1'
  GLOBAL_OBJECT_STORAGE_BUCKET_NAME: 'viwell-media'
  KSA_OBJECT_STORAGE_REGION: 'us-east-1'
  KSA_OBJECT_STORAGE_BUCKET_NAME: 'viwell-media-ksa' 
  KSA_OBJECT_STORAGE_BUCKET_NAMESPACE: 'xzsfqzecwcx'
  MIN_POOL_SIZE: "2"
  MAX_POOL_SIZE: "4"  

kind: ConfigMap
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
